<div class="container">
  <h1>You Believe in Me</h1>
  <p>Your faith in me pushes me to be a better person. Knowing you believe in my dreams gives me strength I didn’t know I had.</p>
  <a href="<%= reasons_path %>">← Back to Reasons</a>
</div>
